/* hiển thị khi màn hình có chiều rộng dưới 768px */
@media screen and (max-width: 767px) {
  body {
    width: 100%;
  }
  #name-lead {
    font-size: 16px;
  }
  #name-sub {
    font-size: 9px;
  }
  #avatar {
    display: none;
  }
  #navbar {
    width: 100%;
    padding: 3% 0;
  }
  #muctieu-thongtin p,
  li {
    font-size: 14px;
  }
  #muctieu-thongtin h4 {
    font-size: 21px;
  }
  #column0 {
    width: 100%;
  }

  #column1,
  #column2,
  #column3,
  #column4,
  #column5,
  #column6 {
    width: 45%;
    border: solid 1px #f1f1f1;
    margin: 1%;
  }
}
/* Footer */
.flex-footer {
  grid-template-columns: 25px 120px 25px 120px 25px 120px;
}
